.header {
	display: flex;
	position: fixed;
	top: 0;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
	height: 73px;
	background-color: rgba(white,.5);
	z-index: 2;
	.left-col {
		a {
			font-size: 22px;
			font-weight: 600;
			color:black;
		}
	}
	.middle-col {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		span {
			font-size: 18px;
			font-weight: 600;
			color:black;
		}
	}
	.right-col {
		display: flex;
		&>* {
			font-size: 18px;
			color:black;
			&:not(:last-child) {
				margin-right: 16px;
			}
		}

		.logout-btn {
			&:hover {
				opacity: .7;
				cursor: pointer;
			}
		}
	}

	.dropdown {
		display: flex;
		position: relative;
		flex-direction: column;

		.current-lang {
			display: flex;
			cursor: pointer;
			align-items: center;

			.lang {
				margin-right: 6px;
			}

			.arrow {
				$size:10px;
				width: $size;
				height: $size;
			}
		}

		.lang-menu {
			display: none;
			position: absolute;
			bottom: 0;
			left: 50%;
			border: 1px solid black;
			border-radius: 8px;
			background-color: white;
			flex-direction: column;
			padding: 10px;
			transform: translateY(100%) translateX(-50%);

			&.show {
				display: flex;
			}

			span {
				cursor: pointer;
				&:not(:last-child) {
					border-bottom: 1px solid black;
				}
			}
		}
	}
}